* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.container {
  margin: 50px auto;
  width: 90%;
  height: 500px;
  /* background-color: #f12; */
  /* background-image: url(cubo.jpg); */
  background-image: linear-gradient(#000000af, 
  #ff0000a8), url(cubo.jpg);
  text-align: center;
  padding: 200px;
  background-repeat: no-repeat;
  /* background-position: top, right, bottom, left */
  background-position: center;
  /* background-size: auto, contain, cover; */
  background-size:cover;
  ba
}

/* .title {
  font-size: 42px;
  /* color: mediumvioletred;
  color: rgb(193, 52, 52);
} */

/* Diferentes maneras: 
por palabras clave como red o gold
por rgb que es red, green, blue manejan del 0 como negro y 255 como blanco  por ejemplo:rgb(0, 0, 0) o rgb(10, 23, 50)
por hexadecimal por ejemplo #f12 o #046
por hsl que hue la matiz del color (hue - 0 hasta 360), saturation la saturacion del color (saturation - 0% hasta 100%), lightness la luminosidad del color (lightnedd - 0% hasta 100%) 
para los 3 ultimos tipos de colores esta un ultimo valor que es la transparecia se maneja 0 como negro y el 1 como transperente
*/
